body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 30px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(39, 38, 38, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 16px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.592) 0px 5px 15px;
}

.close-modal {
  border: 0;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6)0px 5px 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}


.close-modal:hover {
color: red;
}